<html>
<head>
  <style>
    .flash {
      background-color: yellow;
      padding: 5px;
      text-align: center;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
